.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: var(--text-color);
    font-weight: 500;
}

.explore-menu-text{
    max-width: 60%;
    color: var(--text-color);
    opacity: 0.7;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    text-align: center;
    margin: 20px 0px;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.explore-menu-list-item p{
    margin-top: 0.8vw;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    color: var(--text-color);
    opacity: 0.8;
}

.explore-menu hr{
    border: none;
    background-color: var(--text-color);
    opacity: 0.1;
    height: 2px;
    margin: 10px 0px;
}

.explore-menu-list .active{
    border: 2px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 10px rgba(255, 75, 75, 0.5);
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}